.container-btn{
    padding-left: 50px;
}

.container-table{
    padding: 5px 60px;
}

.container-btns{
    display: flex;
    justify-content: space-between;
}

.upbutton{
    padding-top: 8px;
}

.color-btn-update{   
    padding: 0 8px;
    display: flex;
    align-items: center;
    border: solid 2px;    
}

